.main {
  display: inline-flex;
  background-color: var(--main-color);
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}